rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orgs/{orgId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == resource.data.managerUid;
    }
    match /orgs/{orgId}/sellers/{sellerId} {
      allow read: if true;
      allow write: if request.auth != null &&
        (request.auth.uid == resource.data.uid || request.auth.token.admin == true || request.auth.uid == get(/databases/$(database)/documents/orgs/$(orgId)).data.managerUid);
    }
    match /orders/{orderId} {
      allow read: if request.auth != null && (request.auth.token.admin == true);
      allow write: if false;
    }
    match /applications/{appId} {
      allow create: if request.auth != null;
      allow read, update: if request.auth != null && (request.auth.token.admin == true);
    }
  }
}
